
@media screen and (min-width: 510px ){

    .one , .two , .three{
        width: 50%;
       }


       .three-container{
        flex-wrap: wrap;
        flex-direction: row;
    }
}




@media screen and (min-width: 820px ){
    .about-image {
        width: 700px;
    }

    .app-image img{
        width: 370px;
    }
}

@media screen and (min-width: 768px ) {   /* ৭৬৮ এর বড় হলে কাজ করবে */
   
    nav{
        height: 10vh;
    }

    .testy-food-text{
        width: 350px;
    }
    .testy-food-text h1{
        font-size: 65px;
    }

    .testy-food-text h2{
        font-size: 40px;
    }

    .about-text h2{
        font-size: 35px;
       }

       .about-text :nth-child(3){
        font-size: 16px;
       }

       .one , .two , .three{
        width: 33.3333333%;
       }

       .one h4 ,.two h4, .three h4{
        font-size: 20px;
       }

        h3.offaring{
        font-size: 35px;
       }

       .app-h2{
        font-size: 40px;
       }

       .app-p2{
        font-size: 16px;
       }

       .contact-text h2{
        font-size: 35px;
       }

       .contact-text p:nth-child(3){
        font-size: 17px;
       }

       .first , .second , .third , .forth{
        width: 33.333333%;
       }

       .second h2, .third h2, .forth h2{
        font-size: 25px;
       }
      
}




@media screen and (max-width: 768px ){/* ৭৬৮ এর ছোটো হলে কাজ করবে */
   nav ul{
    position: fixed;
    top: 53px;
    left: -100%;
    background: var(--body-color);
    height: 45vh;
    width: 100%;
    flex-direction: column;
    text-align: center;
    transition: all .3s ease;
   }

   nav ul li{
    margin: 5px 0;
    padding: 10px 0;
    transition: all .1s ease;
   }

   nav ul li a{
    font-size: 20px;
   }

   .menu-bt i{
    display: block;
   }

   
}

@media screen and (max-width: 575px ){

    .testy-food{
        flex-direction: column;
    }

    /* .testy-food-image img {
        width: 300px;
        
    } */
   
    .testy-food-image{
        width: 300px;
    }

    
}





@media screen and (min-width: 575px ){


    .about-content{
        flex-direction: row-reverse;
        text-align: left;
        align-items: center;
        column-gap: 15px;
        margin-top: 30vh;
    }


    .testy-food-image{
        width: 55%;
    }

    .testy-food{
        justify-content: center;
        align-items: center;
    }

    .app-text{
        width: 45%;
    }

    .app-image{

        width: 50%;
    }
    .app{
        flex-direction: row-reverse;
    }

    .app-text{
        text-align: left;
    }
    .app-store{
        justify-content: start;
    }

    .contact-text{
        width: 50%;
        text-align: left;
    }

    .contact-button{
        width: 40%;
    }
}


@media screen and (min-width: 960px ){ /* 960 এর বড় হলে কাজ করবে */
    .about-content{
        column-gap: 120px;
    }

    .first , .second , .third , .forth{
        width: 25%;
    }
}

@media screen and (min-width: 687px ){
    .testy-food-image{
        width: 300px;
    }
}

@media screen and (min-width: 987px ){
    .testy-food-image{
        width: 500px;
    }
}